/* Generic Styles */

* {
  /* outline: 1px solid red; */
  font-family: 'Switzer';
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
}

.capitalize {
  text-transform: capitalize;
}

.category-tag {
  border-radius: 4px;
  color: #AAAAAA;
  cursor: pointer;
  display: flex;
  outline: 1px solid #AAAAAA;
  padding: 6px 8px;
  width: fit-content;
}

.selectable-input:checked+.category-tag {
  color: white;
  outline: 1px solid white;
}

.category-wrapper {
  display: flex;
  margin: 0 0 12px;
  gap: 12px;
  flex-wrap: wrap;
}

.back-nav {
  color: #747474;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
}

.back-nav-button {
  align-items: center;
  background-color: #1A1A1A;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 32px;
  margin: 0 8px 0 0;
  width: 32px;
}

/* Landing Styles */
.landing-header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.landing-header-right {
  margin: 0 0 0 4px;
}

.landing-version {
  color: #6B6B6B;
  font-size: 12px;
  font-weight: 400;
  line-height: 80%;
  letter-spacing: -0.6px;
}

.landing-title {
  color: #FFF;
  font-size: 36px;
  font-weight: 500;
  line-height: 80%;
  letter-spacing: -1.8px;
  margin: 6px 0;
}

.landing-subtitle {
  color: #6B6B6B;
  font-weight: 500;
  line-height: 80%;
  letter-spacing: -1px;
}


/* Layout Styles */

.navbar {
  align-items: center;
  background-color: #272727;
  border-radius: 5px;
  color: #E2FF00;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  margin: 16px;
  padding: 8px 16px;
  position: fixed;
  width: calc(100% - 64px);
  z-index: 2;
}

.navbar-open {
  align-items: center;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navbar-menu {
  width: 400px;
  margin: 0 0 64px;
}

.divider-standard {
  width: 100%;
  border-top: solid 1px #888888;
  margin: 12px 0;
}

.navbar-greeting {
  color: #6B6B6B;
  letter-spacing: -0.8px;
}

.navbar-ghost {
  height: 96px;
}

.nav-item {
  cursor: pointer;
}

.nav-item-heading {
  display: flex;
  margin: 16px 0;
  text-transform: capitalize;
}

main {
  z-index: 0;
}

.page-heading {
  display: flex;
  margin: 8px 32px 24px;
  text-transform: capitalize;
}

.page-heading-icon {
  margin: 0 12px 0 0;
}

.page-heading-title {
  color: #FFFFFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.8px;
  line-height: 80%;
}

.content-block {
  background-color: #272727;
  border-radius: 5px;
  height: fit-content;
  margin: 16px 32px;
  padding: 16px;
}

.action-block {
  align-items: center;
  background-color: #272727;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  height: fit-content;
  justify-content: center;
  margin: 16px 32px;
  padding: 16px;
}


/* Table Styles */

.input-label {
  display: flex;
  color: white;
  margin: 0 0 8px;
}

.upload-image {
  align-items: center;
  background-color: #1A1A1A;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  height: fit-content;
  justify-content: center;
  margin: 16px 0;
  padding: 16px;
}

.thumbnail {
  width: 100%;
}

.input-field {
  background-color: #1A1A1A;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin: 0 0 16px;
  width: calc(100% - 32px);
  padding: 12px 16px;
}

.input-time {
  display: flex;
  margin: 0 0 16px;
}

.input-field:focus {
  outline: none;
}

.input-field::placeholder {
  color: #6B6B6B;
}

.table-columns {
  margin: 0 0 16px;
}

.table-column-titles {
  color: white;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  padding: 0 16px;
  text-transform: capitalize;
}

.table-column {
  width: 45%;
}

.table-row {
  background-color: #1A1A1A;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 8px;
  padding: 24px 16px;
  transition: 0.2s;
}

.table-row:hover {
  outline: 2px solid #6B6B6B;
}

.table-row-titles {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
}


/* Button Styles */

.button-standard {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Switzer';
  font-size: 20px;
  font-weight: 500;
  height: fit-content;
  padding: 12px 16px;
  width: fit-content;
}

.button-lime {
  background-color: #E2FF00;
  color: black;
}

.button-grey {
  background-color: #6B6B6B;
  color: white;
}

.button-red {
  background-color: #DF5F5F;
  color: white;
}

/* Landing Page Styles */

.landing {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.user-name {
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  line-height: 80%;
  letter-spacing: -1.6px;
  margin: 0 0 8px;
}

.user-email {
  color: #6B6B6B;
  font-size: 20px;
  font-weight: 400;
  line-height: 80%;
  letter-spacing: -0.7px;
  margin: 0 0 8px;
}

.user-info {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.6px;
  margin: 0 0 8px;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 8px;
}

.wip {
  color: white;
}