* {
  /* outline: 1px solid red; */
  font-family: 'Switzer';
  margin: 0;
  padding: 0;
}

/* Layout Styles */

body {
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
}

.navbar {
  align-items: center;
  background-color: #272727;
  border-radius: 5px;
  color: #E2FF00;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  margin: 16px;
  padding: 8px 16px;
  position: fixed;
  width: calc(100% - 64px);
  z-index: 2;
}

.navbar-open {
  align-items: center;
  background-color: #272727;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navbar-greeting {
  color: #6B6B6B;
  letter-spacing: -0.8px;
}

main {
  margin: 96px 0 0 0;
  z-index: 0;
}

.page-heading {
  display: flex;
  margin: 8px 32px 24px;
}

.page-heading-icon {
  margin: 0 12px 0 0;
}

.page-heading-title {
  color: #FFFFFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.8px;
  line-height: 80%;
}

.content-block {
  background-color: #272727;
  border-radius: 5px;
  height: fit-content;
  margin: 16px 32px;
  padding: 16px;
}

/* Button Styles */

.button-standard {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Switzer';
  font-size: 20px;
  font-weight: 500;
  height: fit-content;
  padding: 12px 16px;
}

.button-lime {
  background-color: #E2FF00;
  color: black;
}

.button-grey {
  background-color: #6B6B6B;
  color: white;
}

.button-red {
  background-color: #DF5F5F;
  color: white;
}